run = "cd src/Api && dotnet EmployeeMonitoring.Api.dll"
modules = ["dotnet-8.0", "postgresql-16"]

[nix]
channel = "stable-23.11"
packages = ["redis"]

[deployment]
run = ["sh", "-c", "cd src/Api && dotnet EmployeeMonitoring.Api.dll"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[userenv]

[userenv.shared]
ASPNETCORE_ENVIRONMENT = "Production"
ASPNETCORE_URLS = "http://0.0.0.0:8080"
